 /*
    Created on : Oct 2, 2016.
    Author     : S M SHAKHAWAT HOSSAIN
    Email      : shakhawat.tex@gmail.com
*/


/*Header top section start*/
.header-top {
	background: #F3F4F5;
	padding-top: 50px;
}
.header-top img {
	width: 125px;
}
.brdr {
    border-bottom: 1px solid #CAD2D7;
    width: 102%;

}

.header-top ul {
	margin-bottom: 40px;
}
.header-top ul li {
	padding-left: 8px;
}

.header-top ul li a {
    color: #2D3438;
    margin-left: 10px;
    font-size: 18px;
    font-weight: Bold;

}
.header-top ul li a:hover {
	color: #fff;
	background: #646D72;
}
/*Header top section end*/

/*Gallery one start*/
.gallery {
    background-color: #F3F4F5;
}
.gallery h1{
    margin-top: 60px;
}
.gallery a {
    text-decoration: none;
}
.img-setting {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.gallery-style {
    background-color: #F3F4F5;
}
.img-thrd {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Gallery one end*/



/*Footer section start*/

.brdr-bottom {
    background-color: #F3F4F5;

}
.brdr-footer {
    border-top: 1px solid #646D72;
    width: 100%;
    margin-left: 0px;
    margin-right: -36px;
    padding-top: 60px;
    padding-bottom: 65px;
    margin-top: 67px;
}

.brdr-bottom ul {
    margin-left: -20px;
}
.brdr-bottom img {
    width: 40px;
}
.footer-right ul {
    margin-right: -20px;
}
.footer-right ul li {
    margin-left: -10px;
}
.footer-right img {
    width: 25px;

}

/*Footer section end